<div class="ibox-title">
	<h5>Editando Matrícula<h5>
</div>
<%= render 'form', matricula_turma: @matricula_turma %>

<%= link_to 'Visualizar', @matricula_turma %> |
<%= link_to 'Voltar', matricula_turmas_path %>
