<div class="ibox-title">
	<h5>Editando Componente<h5>
</div>
<%= render 'form', componente_matriz: @componente_matriz %>

<%= link_to 'Visualizar', @componente_matriz %> |
<%= link_to 'Voltar', componente_matrizs_path %>
